<div class="flex items-center justify-center h-screen">
    <div class="card bordered w-1/3">
        <div class="card-body">
        <h2 class="card-title">Iniciar Sesion</h2> 
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label> 
          <input type="email" placeholder="Email" class="input input-bordered">
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Contraseña</span>
          </label> 
          <input type="password" placeholder="Contraseña" class="input input-bordered">
          <label class="flex items-center justify-start mt-3">
            <span class="label-text text-sm">Recuerdame</span>
            <input type="checkbox" class="checkbox-xs ml-3" />
            <span class="ml-44 text-sm" ><a href="">¿Olvidaste la contraseña?</a></span>
        </label>
        </div>
        <div class="form-control mt-6">
          <input type="submit" value="Iniciar Sesion" class="btn btn-primary">
        </div>
            <p>¿No tiene cuenta? Inicie sesion</p>
            <button class="btn btn-success "> Google</button>
      </div>
    </div>
  </div>