<footer class="footer p-10 bg-base-200 text-base-content justify-center-xs">
    <aside>
        <img src="../../favicon.ico" alt="Gastromic Logo" style="height: 110px;" />
        <p>Gastromic<br />IES José Planes 2024</p>
    </aside>
    <nav>
        <header class="footer-title">Recetas</header>
        <a class="link link-hover">Platos principales</a>
        <a class="link link-hover">Postres</a>
        <a class="link link-hover">Aperitivos</a>
        <a class="link link-hover">Bebidas</a>
    </nav>
    <nav>
        <header class="footer-title">Empresa</header>
        <a class="link link-hover">Sobre nosotros</a>
        <a class="link link-hover">Contacto</a>
        <a class="link link-hover">Empleos</a>
        <a class="link link-hover">Notas de prensa</a>
    </nav>
    <nav>
        <header class="footer-title">Legal</header>
        <a class="link link-hover">Términos de uso</a>
        <a class="link link-hover">Política de privacidad</a>
        <a class="link link-hover">Política de cookies</a>
    </nav>
</footer>