<section class="container grid grid-cols-1 px-24 mt-4 mb-10">
  <div class="container grid md:grid-cols-2 sm:grid-cols-1 mb-8 ">
    <div>
      <h1 class="text-5xl font-bold">Paella conejo</h1>
      <div class="flex flex-wrap">

      </div>
    </div>
    <div>
      <img src="../../assets/paella_conejo.jpg" alt="">
    </div>
  </div>
  <section class="container grid md:grid-cols-4 sm:grid-cols-1 ">
    <div class="col-span-3 pr-6" >
      <div class="w-11/12">
        <h2 class="text-2xl  font-semibold">Descripcion</h2>
        <p class="ml-2 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nobis eos nisi ab at, architecto cupiditate, quas quae voluptas placeat odit neque labore ullam eum, iure magni explicabo inventore nesciunt.
        Magnam dolorum cumque maiores ullam. Delectus obcaecati modi temporibus amet, assumenda at animi dolor beatae impedit eligendi quod veritatis sunt saepe consequuntur sint consectetur dicta nihil. Delectus necessitatibus molestiae animi.
        Dolores cumque consequatur ducimus animi eius consectetur harum delectus quidem provident fuga tempore rem nemo dicta pariatur beatae facere, illo inventore, nisi ad. Vel nemo et ipsam sint saepe? Eligendi?
        Voluptatum illum explicabo impedit debitis quae perspiciatis enim itaque rerum temporibus totam non et, ducimus nostrum, molestiae quos cum possimus excepturi vitae porro incidunt. Ipsa quasi aliquam quam commodi fugiat?
        Dignissimos mollitia, veniam placeat atque quisquam beatae in facere illum ex enim eum neque quaerat excepturi perspiciatis harum illo nulla! Doloremque animi quas dolorem dolorum accusantium expedita at, vitae tenetur!
        Dignissimos deleniti distinctio dolorum. Vero maiores beatae doloribus recusandae eum odit neque quaerat soluta, dolorum nulla eos 
       </p>
      </div>
      <div class="mt-6">
        <h2 class="text-2xl w font-semibold">Ingredientes</h2>
        <ul class="ml-2">
          <li>100 gr azucar</li>
          <li>100 gr azucar</li>
          <li>100 gr azucar</li>
          <li>100 gr azucar</li>
        </ul>
      </div>

      <div class="mt-6">
        <h2 class="text-2xl  font-semibold">Pasos</h2>
        <ul class="ml-2">
          <li>Precalentar la paellera</li>
          <li>Cortar Conejo</li>
        
        </ul>
      </div>
      <div class="mt-6">
        <h2 class="text-2xl  font-semibold">Comentarios</h2>
        <ul>
          <li>Precalentar la paellera</li>
          <li>Cortar Conejo</li>
        
        </ul>
      </div>
      
    </div>


    <div class="border-l-2 w-1/4 px-6">
      <div class="">
        <h2 class="text-2xl  font-semibold">Recetas relacionadas</h2>
      </div>
    </div>
  </section>
</section>