<!-- 
<div class="card card-compact w-80 lg:w-[23rem] bg-base-100 shadow-xl mb-4 cursor-pointer transform transition-transform duration-300 ease-in-out hover:scale-105">
    <div class=" card-title flex-row">
        <div class="card-body flex-row">
            <img class="w-8 h-8 rounded-full" src="assets/foto_perfil.jpg" alt="user photo">
            <p class="card-title">Paella de Conejo</p>
            <div class="flex items-center gap-1">
                <span class="font-bold">50</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 256 256">
                    <path fill="#ff0000" d="M240 102c0 70-103.79 126.66-108.21 129a8 8 0 0 1-7.58 0C119.79 228.66 16 172 16 102a62.07 62.07 0 0 1 62-62c20.65 0 38.73 8.88 50 23.89C139.27 48.88 157.35 40 178 40a62.07 62.07 0 0 1 62 62" />
                </svg>
            </div>
        </div>
    </div>
    <figure> <img src="../../assets/paella_conejo.jpg" alt="Paella de conejo"></figure>

    <div class="card-body flex-row items-center justify-between">
        <div class="flex items-center justify-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path fill="none" stroke="black" stroke-miterlimit="10" stroke-width="29.25" d="M256 64C150 64 64 150 64 256s86 192 192 192s192-86 192-192S362 64 256 64Z" />
                <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="29.25" d="M256 128v144h96" />
            </svg>
            <span class="font-bold">25 min</span>
        </div>
        <div class="flex items-center justify-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 36 36">
                <path fill="black" d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2m0 30a14 14 0 1 1 14-14a14 14 0 0 1-14 14" class="clr-i-outline clr-i-outline-path-1" />
                <circle cx="10.89" cy="13.89" r="2" fill="black" class="clr-i-outline clr-i-outline-path-2" />
                <circle cx="25.05" cy="13.89" r="2" fill="black" class="clr-i-outline clr-i-outline-path-3" />
                <path fill="black" d="M18.13 28.21a8.67 8.67 0 0 0 8.26-6H9.87a8.67 8.67 0 0 0 8.26 6" class="clr-i-outline clr-i-outline-path-4" />
                <path fill="none" d="M0 0h36v36H0z" />
            </svg>
            <span class="font-bold">Fácil</span>
        </div>
        <div class="flex items-center justify-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="black" d="M240 112a56.06 56.06 0 0 0-56-56c-1.77 0-3.54.1-5.29.26a56 56 0 0 0-101.42 0C75.54 56.1 73.77 56 72 56a56 56 0 0 0-24 106.59V208a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-45.41A56.09 56.09 0 0 0 240 112m-48 96H64v-40.58a55.5 55.5 0 0 0 8 .58h112a55.5 55.5 0 0 0 8-.58Zm-8-56h-13.75l5.51-22.06a8 8 0 0 0-15.52-3.88L153.75 152H136v-24a8 8 0 0 0-16 0v24h-17.75l-6.49-25.94a8 8 0 1 0-15.52 3.88L85.75 152H72a40 40 0 0 1 0-80h.58a55 55 0 0 0-.58 8a8 8 0 0 0 16 0a40 40 0 0 1 80 0a8 8 0 0 0 16 0a55 55 0 0 0-.58-8h.58a40 40 0 0 1 0 80" />
            </svg>
            <span class="font-bold">4 personas</span>
        </div>
    </div>
</div> -->
<div class="flex flex-col bg-white border shadow-sm rounded-xl w-80 lg:w-[23rem]  hover:shadow-lg  cursor-pointer  transition-transform mb-4">
    <div class="flex items-center justify-between gap-2 p-4 md:p-5">
        <div class="flex items-center gap-2">
            <img class="w-8 h-8 rounded-full" src="assets/foto_perfil.jpg" alt="user photo">
            <span class="text-lg font-bold">Macarrones con queso</span>
        </div>
        <div class="flex items-center gap-1">
            <span class="font-bold">50</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 256 256">
                <path fill="#ff0000" d="M240 102c0 70-103.79 126.66-108.21 129a8 8 0 0 1-7.58 0C119.79 228.66 16 172 16 102a62.07 62.07 0 0 1 62-62c20.65 0 38.73 8.88 50 23.89C139.27 48.88 157.35 40 178 40a62.07 62.07 0 0 1 62 62" />
            </svg>
        </div>
    </div>

    <img src="../../assets/paella_conejo.jpg" alt="Paella de conejo">
    
    <div class="flex items-center justify-between p-4">
        <div class="flex items-center justify-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path fill="none" stroke="black" stroke-miterlimit="10" stroke-width="29.25" d="M256 64C150 64 64 150 64 256s86 192 192 192s192-86 192-192S362 64 256 64Z" />
                <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="29.25" d="M256 128v144h96" />
            </svg>
            <span class="font-normal">25 min</span>
        </div>
        <div class="flex items-center justify-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 36 36">
                <path fill="black" d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2m0 30a14 14 0 1 1 14-14a14 14 0 0 1-14 14" class="clr-i-outline clr-i-outline-path-1" />
                <circle cx="10.89" cy="13.89" r="2" fill="black" class="clr-i-outline clr-i-outline-path-2" />
                <circle cx="25.05" cy="13.89" r="2" fill="black" class="clr-i-outline clr-i-outline-path-3" />
                <path fill="black" d="M18.13 28.21a8.67 8.67 0 0 0 8.26-6H9.87a8.67 8.67 0 0 0 8.26 6" class="clr-i-outline clr-i-outline-path-4" />
                <path fill="none" d="M0 0h36v36H0z" />
            </svg>
            <span class="font-normal">Fácil</span>
        </div>
        <div class="flex items-center justify-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="black" d="M240 112a56.06 56.06 0 0 0-56-56c-1.77 0-3.54.1-5.29.26a56 56 0 0 0-101.42 0C75.54 56.1 73.77 56 72 56a56 56 0 0 0-24 106.59V208a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-45.41A56.09 56.09 0 0 0 240 112m-48 96H64v-40.58a55.5 55.5 0 0 0 8 .58h112a55.5 55.5 0 0 0 8-.58Zm-8-56h-13.75l5.51-22.06a8 8 0 0 0-15.52-3.88L153.75 152H136v-24a8 8 0 0 0-16 0v24h-17.75l-6.49-25.94a8 8 0 1 0-15.52 3.88L85.75 152H72a40 40 0 0 1 0-80h.58a55 55 0 0 0-.58 8a8 8 0 0 0 16 0a40 40 0 0 1 80 0a8 8 0 0 0 16 0a55 55 0 0 0-.58-8h.58a40 40 0 0 1 0 80" />
            </svg>
            <span class="font-normal">4 personas</span>
        </div>
    </div>
</div>