
<div class="flex items-center justify-center min-h-screen">
  <div class="mx-auto max-w-screen-xl  px-4 py-16 sm:px-6 lg:px-8 flex items-center justify-center"> 
      <!-- Calculo del height para que el footer este en su sitio, y esta vista quede centrada. 334 es la suma en px de header + footer -->
      <div class="mx-auto max-w-lg">
        <!--<h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">¿Olvidaste tu contraseña?</h1>-->
        <form action="#" class="mb-0 mt-4 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
          <p class="text-center text-lg font-medium">¿Olvidaste tu contraseña?</p>
          <p class="mx-auto max-w-md text-center text-gray-500">
            Introduce el correo de electrónico asociado a tu cuenta de Gastronomic y te enviaremos un enlace para restablecer tu contraseña.
          </p>

          <div>
            <label for="email" class="sr-only">Introduzca su e-mail</label>

            <div class="relative">
              <input type="email" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Introduzca su e-mail" />

              <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                </svg>
              </span>
            </div>
          </div>

          <button type="submit" class="block w-full rounded-lg bg-primary-600 px-5 py-3 text-sm font-medium text-white">
            Restablecer contraseña
          </button>

          <p class="text-center text-sm text-gray-500">
            <a class="underline" href="#">Volver a inicio</a>
          </p>

        </form>
      </div>
  </div>
</div>