<section class="flex lg:justify-center lg:items-center mb-10">
    <div class="w-full">
        <div class="mx-auto max-w-lg text-center">
            <h1 class="text-center text-6xl font-semibold text-primary-800 sm:text-3xl">¡Cree su receta!</h1>
        </div>
        <form action="#" [formGroup]="recipeCreateForm" (ngSubmit)="onSubmit()" class="mx-auto mt-6 max-w-2xl space-y-4">
            <div class="flex items-center justify-center">
                <label for="imagenes">
                    <img src="../../assets/logo_gastromic.svg" class="h-[200px] sm:h-[120px]" alt="Gastromic Logo" />
                </label>
                <input type="file" formControlName="images" multiple name="imagenes" id="imagenes" class="hidden">
            </div>
            <div class="flex flex-col space-y-7">
                <div>      
                    <label for="recipe" class="text-lg">Nombre</label>
                    <input type="text" formControlName="name" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                        placeholder="" />
                </div>
                <div>
                    <label for="description"  class="text-lg">Descripción</label>
                    <textarea formControlName="description" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                        placeholder="Describa brevemente su receta"></textarea>
                </div>
                <div>
                    <label for="category" class="text-lg">Categoria</label>
                    <div class="relative">
                        <select class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" formControlName="category">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            @for (item of getCategories(); track $index) {
                                <option value="{{getCategories().id}}">{{item.name}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="grid md:grid-cols-1 sm:grid-cols-1 gap-4">
                    <div class="grid grid-cols-1">
                    <label for="persons" class="text-lg">Comensales</label>
                    <legend class="text-sm text-gray-500">¿Para cuantos comensales seria?</legend>
                    <input type="text" formControlName="serves" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                        placeholder="" />
                    </div>
                    <div>
                        <label for="time" class="text-lg">Tiempo</label>
                        <legend class="text-sm text-gray-500">Cuanto tiempo aproximado llevaria la elaboracion de la receta?</legend>
                        <input type="time" id="time" formControlName="time" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="" />
                    </div>              
                </div>
                <div>
                    <label for="" >Dificultad</label>
                    <legend class="text-sm text-gray-500">Cual seria la dificultad de la receta?</legend>
                </div>
                <div class="grid md:grid-cols-3 w-full gap-4 sm:grid-cols-1 lg:justify-center lg:items-center">
                    <label class="py-3 px-4 items-center gap-x-2 text-sm font-semibold rounded-lg border text-black  disabled:opacity-50 disabled:pointer-events-none text-center cursor-pointer"
                           [class.border-green-500]="dificultad !== 'facil'" 
                           [class.bg-green-500]="dificultad === 'facil'" 
                           (click)="dificultad = 'facil'">
                        <input type="radio" formControlName="dificulty" name="dificulty" class="hidden" value="facil" [(ngModel)]="dificultad" /> Fácil
                    </label>
                    <label class="py-3 px-4 items-center gap-x-2 text-sm font-semibold rounded-lg border text-black  disabled:opacity-50 disabled:pointer-events-none text-center cursor-pointer"
                        [class.border-yellow-500]="dificultad !== 'medio'" 
                        [class.bg-yellow-500]="dificultad === 'medio'" 
                        (click)="dificultad = 'medio'">
                    <input type="radio" name="dificulty" formControlName="dificulty" class="hidden" value="medio" [(ngModel)]="dificultad" /> Medio
                    </label>
                    
                    <label class="py-3 px-4 items-center gap-x-2 text-sm font-semibold rounded-lg border text-black  disabled:opacity-50 disabled:pointer-events-none text-center cursor-pointer"
                            [class.border-red-500]="dificultad !== 'dificil'" 
                            [class.bg-red-500]="dificultad === 'dificil'" 
                            (click)="dificultad = 'dificil'">
                    <input type="radio" name="dificulty" formControlName="dificulty" class="hidden" value="dificil" [(ngModel)]="dificultad" /> Difícil
                    </label>
                </div>
                <label for="" class="">Ingredientes</label>
                <div class="grid grid-cols-3 gap-4">
                    

                    <select multiple="" data-hs-select='{
                            "placeholder": "Elige Ingredientes",
                            "toggleTag": "<button type=\"button\"></button>",
                            "toggleClasses": "hs-select-disabled:pointer-events-none bg-white hs-select-disabled:opacity-50 relative flex text-nowrap w-full cursor-pointer  border border-gray-200 rounded-lg text-start text-sm focus:border-blue-500 focus:ring-blue-500",
                            "dropdownClasses": "mt-2 z-50 w-full max-h-72 p-1 bg-gray-100 space-y-0.5 bg-gray-100 border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300",
                            "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100",
                            "mode": "tags",
                            "wrapperClasses": "relative ps-0.5 pe-9 min-h-[46px] bg-gray-100 flex items-center flex-wrap text-nowrap w-full border border-gray-200 rounded-lg text-start text-sm focus:border-blue-500 focus:ring-blue-500",
                            "tagsItemTemplate": "<div class=\"flex flex-nowrap bg-gray-100 items-center relative z-10 bg-gray-100 border border-gray-200 rounded-full p-1 m-1\"><div class=\"size-6 me-1\" data-icon></div><div class=\"whitespace-nowrap text-gray-800\" data-title></div><div class=\"inline-flex flex-shrink-0 justify-center items-center size-5 ms-2 rounded-full text-gray-800 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 text-sm cursor-pointer\" data-remove><svg class=\"flex-shrink-0 size-3\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M18 6 6 18\"/><path d=\"m6 6 12 12\"/></svg></div></div>",
                            "tagsInputClasses": "py-3 px-2 rounded-lg order-1 text-sm outline-none",
                            "optionTemplate": "<div class=\"flex items-center\"><div class=\"size-8 me-2\" data-icon></div><div><div class=\"text-sm font-semibold text-gray-800\" data-title></div><div class=\"text-xs text-gray-500\" data-description></div></div><div class=\"ms-auto\"><span class=\"hidden hs-selected:block\"><svg class=\"flex-shrink-0 size-4 text-blue-600\" xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" viewBox=\"0 0 16 16\"><path d=\"M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z\"/></svg></span></div></div>",
                            "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"flex-shrink-0 size-3.5 text-gray-500\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
                        }' class="hidden w-full">
                                <option value="">Choose</option>





                                <option *ngFor="let ingredient of getIngredients(); let i = index" [value]="ingredient.id"
                                    formControlName="ingredient" name="ingredient"
                                    [attr.data-hs-select-option]="getOptionData(ingredient)">
                                    {{ ingredient.name }}
                                </option>
                                

                            </select>
                            <input type="text" id="quantity" formControlName="quantity" name="quantity" class=" rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                    placeholder="Cantidad">
                            <select name="medida" id="medida" class="w-auto rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm">
                                <option value="gr">GR</option>
                                <option value="ml">ML</option>
                                <option value="unit">Unidade/s</option>
                                <option value="cucharadas">Cucharadas</option>
                            </select>
                    <button (click)="addIngrediente()" class="bg-primary-600 px-2 py-2.5 border rounded-xl text-white mt-2">Añadir ingrediente</button>
                </div>
                <div>
                    <div>
                        <label for="steps" class="">Pasos</label>
                        <div *ngFor="let paso of pasos; let i = index; trackBy: trackByIndex">
                            <input type="text" id="pasos" name="pasos" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                   [value]="pasos[i]" (input)="updatePasos(i, $event)" placeholder="" formControlName="steps">
                        </div>
                    </div>
                        <button (click)="addPasos() " class="bg-primary-600 px-2  py-2.5 border rounded-xl text-white mt-2">Añadir paso </button>
            
                </div>
                <div class="">
                    <button (click)="createRecipe()" type="submit" class=" w-full rounded-lg  bg-primary-500 px-5 py-3  text-sm font-medium text-white" >
                        Subir Receta
                    </button>
                </div>
            </div>      
        </form>
    </div>
</section>
