<section class="flex lg:justify-center lg:items-center mb-10">
    <div class="w-full">
        <div class="mx-auto max-w-lg text-center">
            <h1 class="text-center text-6xl font-semibold text-primary-800 sm:text-3xl">¡Cree su receta!</h1>
        </div>
        <form action="#" [formGroup]="recipeCreateForm" (ngSubmit)="onSubmit()" class="mx-auto mt-6 max-w-2xl space-y-4">
            <div class="flex items-center justify-center">
                <label for="imagenes">
                    <img src="../../assets/logo_gastromic.svg" class="h-[200px] sm:h-[120px]" alt="Gastromic Logo" />
                </label>
                <input type="file" formControlName="images" multiple name="imagenes" id="imagenes" class="hidden">
            </div>
            <div class="flex flex-col space-y-7">
                <div>      
                    <label for="recipe" class="text-lg">Nombre</label>
                    <input type="text" formControlName="name" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                        placeholder="" />
                </div>
                <div>
                    <label for="description"  class="text-lg">Descripción</label>
                    <textarea formControlName="description()" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                        placeholder="Describa brevemente su receta"></textarea>
                </div>
                <div>
                    <label for="category" class="text-lg">Categoria</label>
                    <div class="relative">
                        <select class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" formControlName="category">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option value="option1">Opción 1</option>
                            <option value="option2">Opción 2</option>
                            <option value="option3">Opción 3</option>
                        </select>
                    </div>
                </div>
                <div class="grid md:grid-cols-1 sm:grid-cols-1 gap-4">
                    <div class="grid grid-cols-1">
                    <label for="persons" class="text-lg">Comensales</label>
                    <legend class="text-sm text-gray-500">Para cuantas comensales seria?</legend>
                    <input type="text" formControlName="serves" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                        placeholder="" />
                    </div>
                    <div>
                        <label for="time" class="text-lg">Tiempo</label>
                        <legend class="text-sm text-gray-500">Cuanto tiempo aproximado llevaria la elaboracion de la receta?</legend>
                        <input type="time" id="time" formControlName="time" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="" />
                    </div>              
                </div>
                <div>
                    <label for="" >Dificultad</label>
                    <legend class="text-sm text-gray-500">Cual seria la dificultad de la receta?</legend>
                </div>
                <div class="grid md:grid-cols-3 w-full gap-4 sm:grid-cols-1 lg:justify-center lg:items-center">
                    <label class="py-3 px-4 items-center gap-x-2 text-sm font-semibold rounded-lg border text-black  disabled:opacity-50 disabled:pointer-events-none text-center cursor-pointer"
                           [class.border-green-500]="dificultad !== 'facil'" 
                           [class.bg-green-500]="dificultad === 'facil'" 
                           (click)="dificultad = 'facil'">
                        <input type="radio" formControlName="dificulty" name="dificultad" class="hidden" value="facil" [(ngModel)]="dificultad" /> Fácil
                    </label>
                    <label class="py-3 px-4 items-center gap-x-2 text-sm font-semibold rounded-lg border text-black  disabled:opacity-50 disabled:pointer-events-none text-center cursor-pointer"
                        [class.border-yellow-500]="dificultad !== 'medio'" 
                        [class.bg-yellow-500]="dificultad === 'medio'" 
                        (click)="dificultad = 'medio'">
                    <input type="radio" name="dificultad" formControlName="dificulty" class="hidden" value="medio" [(ngModel)]="dificultad" /> Medio
                    </label>
                    
                    <label class="py-3 px-4 items-center gap-x-2 text-sm font-semibold rounded-lg border text-black  disabled:opacity-50 disabled:pointer-events-none text-center cursor-pointer"
                            [class.border-red-500]="dificultad !== 'dificil'" 
                            [class.bg-red-500]="dificultad === 'dificil'" 
                            (click)="dificultad = 'dificil'">
                    <input type="radio" name="dificultad" formControlName="dificulty" class="hidden" value="dificil" [(ngModel)]="dificultad" /> Difícil
                    </label>
                </div>
                <div class="">
                    <label for="" class="">Ingredientes</label>
                    <div class="grid grid-cols-1">
                        <div *ngFor="let ingrediente of ingredientes; let i = index; trackBy: trackByIndex" class="grid grid-cols-3 gap-4">
                            <input type="text" id="ingredients" name="ingredients" class="rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                   [value]="ingredientes[i].nombre" (input)="updateIngrediente(i, 'nombre', $event)" formControlName="ingredients" placeholder="Nombre del ingrediente">
                            <input type="text" id="quantity" formControlName="quantity" name="quantity" class=" rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                   [value]="ingredientes[i].cantidad" (input)="updateIngrediente(i, 'cantidad', $event)" placeholder="Cantidad">
                            <select name="medida" id="medida" class="w-auto rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm">
                                <option value="gr">GR</option>
                                <option value="ml">ML</option>
                                <option value="unit">Unidade/s</option>
                                <option value="cucharadas">Cucharadas</option>
                            </select>
                        </div>
                    </div>
                    <button (click)="addIngrediente()" class="bg-primary-600 px-2 py-2.5 border rounded-xl text-white mt-2">Añadir ingrediente</button>
                </div>
                <div>
                    <div>
                        <label for="steps" class="">Pasos</label>
                        <div *ngFor="let paso of pasos; let i = index; trackBy: trackByIndex">
                            <input type="text" id="pasos" name="pasos" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                   [value]="pasos[i]" (input)="updatePasos(i, $event)" placeholder="" formControlName="steps">
                        </div>
                    </div>
                        <button (click)="addPasos() " class="bg-primary-600 px-2  py-2.5 border rounded-xl text-white mt-2">Añadir paso </button>
            
                </div>
                <div class="">
                    <button type="submit" class=" w-full rounded-lg  bg-primary-500 px-5 py-3  text-sm font-medium text-white" >
                        Subir Receta
                    </button>
                </div>
            </div>      
        </form>
    </div>
</section>
