<div class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Política de Privacidad</h1>

        <p class="mb-4">
            Esta política de privacidad establece cómo nuestro sitio web utiliza y protege cualquier información que nos proporciona cuando utiliza este sitio web.
        </p>

        <h2 class="text-2xl font-bold mb-2">Información que Recopilamos</h2>

        <p class="mb-4">
            Podemos recopilar la siguiente información:
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>Su nombre e información de contacto</li>
            <li>Información demográfica</li>
            <li>Otra información relevante para encuestas de clientes y/o ofertas</li>
        </ul>

        <h2 class="text-2xl font-bold mb-2">Cómo Usamos la Información</h2>

        <p class="mb-4">
            Necesitamos esta información para comprender sus necesidades y brindarle un mejor servicio, y en particular por las siguientes razones:
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>Mantenimiento de registros internos</li>
            <li>Mejorar nuestros productos y servicios</li>
            <li>Enviar correos electrónicos promocionales sobre nuevos productos, ofertas especiales u otra información que creemos que puede encontrar interesante</li>
        </ul>

        <h2 class="text-2xl font-bold mb-2">Seguridad</h2>

        <p class="mb-4">
            Estamos comprometidos a garantizar que su información esté segura. Para evitar el acceso o divulgación no autorizados, hemos implementado procedimientos físicos, electrónicos y de gestión adecuados para salvaguardar y asegurar la información que recopilamos en línea.
        </p>

        <h2 class="text-2xl font-bold mb-2">Cookies</h2>

        <p class="mb-4">
            Una cookie es un pequeño archivo que solicita permiso para ser colocado en el disco duro de su computadora. Una vez que usted acepta, el archivo se agrega y la cookie ayuda a analizar el tráfico web o le informa cuando visita un sitio en particular. Las cookies permiten que las aplicaciones web le respondan a usted como individuo. La aplicación web puede adaptar sus operaciones a sus necesidades, gustos y disgustos al recopilar y recordar información sobre sus preferencias.
        </p>

        <p class="mb-4">
            En general, las cookies nos ayudan a brindarle un mejor sitio web al permitirnos monitorear qué páginas encuentra útiles y cuáles no. Una cookie de ninguna manera nos da acceso a su computadora ni a ninguna información sobre usted, aparte de los datos que decide compartir con nosotros.
        </p>

        <h2 class="text-2xl font-bold mb-2">Enlaces a Otros Sitios Web</h2>

        <p class="mb-4">
            Nuestro sitio web puede contener enlaces a otros sitios web de interés. Sin embargo, una vez que haya utilizado estos enlaces para salir de nuestro sitio, debe tener en cuenta que no tenemos ningún control sobre ese otro sitio web. Por lo tanto, no podemos ser responsables de la protección y privacidad de ninguna información que proporcione mientras visita dichos sitios y dichos sitios no se rigen por esta declaración de privacidad. Debe tener cuidado y leer la declaración de privacidad aplicable al sitio web en cuestión.
        </p>

        <h2 class="text-2xl font-bold mb-2">Controlando Su Información Personal</h2>

        <p class="mb-4">
            Puede optar por restringir la recopilación o el uso de su información personal de las siguientes maneras:
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>Si ha acordado previamente que utilicemos su información personal para fines de marketing directo, puede cambiar de opinión en cualquier momento escribiéndonos o enviándonos un correo electrónico a gastromic&#64;gmail.com</li>
            <li>No venderemos, distribuiremos ni cederemos su información personal a terceros a menos que tengamos su permiso o estemos obligados por ley a hacerlo. Podemos usar su información personal para enviarle información promocional sobre terceros que creemos que puede encontrar interesante si nos indica que desea que esto suceda.</li>
            <li>Puede solicitar detalles de la información personal que tenemos sobre usted. Si desea una copia de la información que tenemos sobre usted, envíe un correo electrónico a gastromic&#64;gmail.com</li>
            <li>Si cree que cualquier información que tenemos sobre usted es incorrecta o incompleta, por favor escríbanos o envíenos un correo electrónico lo antes posible a la dirección anterior. Corregiremos rápidamente cualquier información que se encuentre incorrecta.</li>
        </ul>

        <p class="mb-4">
            Esta política de privacidad está sujeta a cambios sin previo aviso.
        </p>
    </div>
</div>
