<section class="relative flex flex-wrap lg:h-screen lg:items-center ">
  
  <div class="form w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-center text-2xl font-bold text-primary-400 sm:text-3xl">¡Empieza hoy mismo!</h1>
      <p class="mt-4 text-gray-500">
        Únete a la mayor comunidad online de cocina de España en este momento. Comienza a compartir tus propias recetas y descubre las de otros usuarios.
      </p>
    </div>

    <form [formGroup]="signInForm" (ngSubmit)="signIn()" action="#" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700 mb-1 ml-1">Correo electrónico</label>

        <div class="relative">
          <input type="email" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Introduzca su correo electrónico" 
            formControlName="email"
            />

          <span class="absolute inset-y-0 end-0 grid place-content-center px-4 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
          </span>
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700 mb-1 ml-1">Contraseña</label>

        <div class="relative">
          <input type="password" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Introduzca su contraseña"
            formControlName="password"
             />

          <span class="absolute inset-y-0 end-0 grid place-content-center px-4 cursor-pointer">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 256 256">
              <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="#9ca3af" d="M251 123.13c-.37-.81-9.13-20.26-28.48-39.61C196.63 57.67 164 44 128 44S59.37 57.67 33.51 83.52C14.16 102.87 5.4 122.32 5 123.13a12.08 12.08 0 0 0 0 9.75c.37.82 9.13 20.26 28.49 39.61C59.37 198.34 92 212 128 212s68.63-13.66 94.48-39.51c19.36-19.35 28.12-38.79 28.49-39.61a12.08 12.08 0 0 0 .03-9.75m-46.06 33C183.47 177.27 157.59 188 128 188s-55.47-10.73-76.91-31.88A130.4 130.4 0 0 1 29.52 128a130.5 130.5 0 0 1 21.57-28.11C72.54 78.73 98.41 68 128 68s55.46 10.73 76.91 31.89A130.4 130.4 0 0 1 226.48 128a130.5 130.5 0 0 1-21.57 28.12ZM128 84a44 44 0 1 0 44 44a44.05 44.05 0 0 0-44-44m0 64a20 20 0 1 1 20-20a20 20 0 0 1-20 20" />
            </svg>
          </span>
        </div>
      </div>
      
      <!-- bg-indigo-600 -->
      <button type="submit" class="block w-full rounded-lg bg-primary-600  px-5 py-3 text-sm font-medium text-white">
        Iniciar sesión
      </button>

      <div class="flex items-center justify-between gap-2 mt-5">
        <div class="flex items-center">
          <input id="remember-me" name="remember-me" type="checkbox"
            class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
          <label for="remember-me" class="ml-3 block text-sm">
            Recuérdame
          </label>
        </div>
        <div>
          <a routerLink="password-recovery" href="" class="text-blue-600 font-semibold text-sm hover:underline">
            He olvidado mi contraseña
          </a>
        </div>
      </div>

      <p class="my-8 text-sm text-gray-400 text-center">o continua con</p>
      <div class="space-x-8 flex justify-center">
        <!-- Google -->
        <!-- <button type="button" class="border-none outline-none" id="google-btn">
            <svg width="40px" height="40px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z" fill="#4285F4"/>
              <path d="M16.2863 29.9998C20.1434 29.9998 23.3814 28.7553 25.7466 26.6086L21.2386 23.1863C20.0323 24.0108 18.4132 24.5863 16.2863 24.5863C12.5086 24.5863 9.30225 22.1441 8.15929 18.7686L7.99176 18.7825L3.58208 22.127L3.52441 22.2841C5.87359 26.8574 10.699 29.9998 16.2863 29.9998Z" fill="#34A853"/>
              <path d="M8.15964 18.769C7.85806 17.8979 7.68352 16.9645 7.68352 16.0001C7.68352 15.0356 7.85806 14.1023 8.14377 13.2312L8.13578 13.0456L3.67083 9.64746L3.52475 9.71556C2.55654 11.6134 2.00098 13.7445 2.00098 16.0001C2.00098 18.2556 2.55654 20.3867 3.52475 22.2845L8.15964 18.769Z" fill="#FBBC05"/>
              <path d="M16.2864 7.4133C18.9689 7.4133 20.7784 8.54885 21.8102 9.4978L25.8419 5.64C23.3658 3.38445 20.1435 2 16.2864 2C10.699 2 5.8736 5.1422 3.52441 9.71549L8.14345 13.2311C9.30229 9.85555 12.5086 7.4133 16.2864 7.4133Z" fill="#EB4335"/>
              </svg>
          </button> -->
    
        <div id="google-btn"></div>
        <!-- Apple -->
        <button type="button" class="border-none outline-none">
          <svg width="45px" height="45px" viewBox="0 1 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
            <path fill="#000000"
              d="M10.167 3.242c.435-.523.742-1.24.742-1.958 0-.105-.008-.202-.03-.284-.704.03-1.55.47-2.06 1.069-.397.448-.772 1.173-.772 1.891 0 .112.023.217.03.254.045.008.12.015.188.015.636 0 1.43-.419 1.902-.987zm.495 1.144c-1.057 0-1.918.643-2.465.643-.591 0-1.355-.606-2.284-.606C4.168 4.423 2.4 5.866 2.4 8.58c0 1.697.652 3.49 1.46 4.642C4.557 14.193 5.164 15 6.04 15c.869 0 1.251-.575 2.33-.575 1.093 0 1.333.56 2.292.56.95 0 1.587-.867 2.18-1.727.673-.986.95-1.943.958-1.988-.053-.015-1.873-.755-1.873-2.833 0-1.794 1.431-2.6 1.513-2.66-.943-1.354-2.381-1.391-2.778-1.391z" />
          </svg>
        </button>
        <!-- Facebook -->
        <button type="button" class="border-none outline-none">
          <svg width="40px" height="40px" viewBox="126.445 2.281 589 589" xmlns="http://www.w3.org/2000/svg">
            <circle cx="420.945" cy="296.781" r="294.5" fill="#3c5a9a" />
            <path
              d="M516.704 92.677h-65.239c-38.715 0-81.777 16.283-81.777 72.402.189 19.554 0 38.281 0 59.357H324.9v71.271h46.174v205.177h84.847V294.353h56.002l5.067-70.117h-62.531s.14-31.191 0-40.249c0-22.177 23.076-20.907 24.464-20.907 10.981 0 32.332.032 37.813 0V92.677h-.032z"
              fill="#ffffff" />
          </svg>
        </button>
      </div>
      <p class="text-center text-sm text-gray-500">
        ¿Aún no tienes cuenta?
        <a routerLink="create-account" class="underline" href="#">Crear una cuenta</a>
      </p>
    </form>
  </div>

  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2 img-container">
    <img alt=""
      src="https://images.unsplash.com/photo-1528712306091-ed0763094c98?q=80&w=1940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="absolute inset-0 h-full w-full object-cover" />
  </div>
</section>

<!-- HECHO POR ADRIAN
  <div class="flex items-center justify-center h-screen">
    <div class="card bordered w-1/3">
        <div class="card-body">
        <h2 class="card-title">Iniciar Sesion</h2> 
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label> 
          <input type="email" placeholder="Email" class="input input-bordered">
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Contraseña</span>
          </label> 
          <input type="password" placeholder="Contraseña" class="input input-bordered">
          <label class="flex items-center justify-start mt-3">
            <span class="label-text text-sm">Recuerdame</span>
            <input type="checkbox" class="checkbox-xs ml-3" />
            <span class="ml-44 text-sm" ><a href="">¿Olvidaste la contraseña?</a></span>
        </label>
        </div>
        <div class="form-control mt-6">
          <input type="submit" value="Iniciar Sesion" class="btn btn-primary">
        </div>
            <p>¿No tiene cuenta? Inicie sesion</p>
            <button class="btn btn-success "> Google</button>
      </div>
    </div>
  </div>-->