<div class="bg-gradient-to-br from-transparent to-orange-100">
    <div class="w-9/12 m-auto py-16 min-h-screen flex items-center justify-center">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg pb-8">
            <div class="border-t border-gray-200 text-center pt-8">
                <h1 class="text-9xl font-bold text-primary-600">404</h1>
                <h1 class="text-6xl font-medium py-8">oops! Página no encontrada</h1>
                <p class="text-2xl pb-8 px-12 font-medium">Oops! La página que estás buscando no existe. Puede
                    haber sido movido o borrado.</p>
                <button class="border border-primary-500  text-gray-900  hover:bg-primary-500 hover:text-white font-semibold px-6 py-3 rounded-md mr-6  hover:shadow-lg transition-shadow duration-300"
                    [routerLink]="['/']">
                    Inicio
                </button>
                <button class="border border-primary-500 text-gray-900 hover:bg-primary-500 hover:text-white font-semibold rounded-md hover:shadow-lg   h-12 px-8  transition-shadow duration-300" 
                    [routerLink]="['/browse-recipes']">
                    Explorar Recetas
                </button>
            </div>
        </div>
    </div>
</div>