<div class="flex flex-row">
    <!-- Aside -->
    <aside class=" bg-gray-200 p-4 ml-12 rounded-md">
        <h1>Aside</h1>
        <p>Este es el contenido del aside.</p>
    </aside>

    <!-- Contenido principal -->
    <main class=" dark:bg-dark light:bg-light p-4 grid grid-cols-3 gap-4 w-full ml-8 rounded-md">
        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />


    </main>
</div>