<div class="flex flex-row">
    <!-- Aside -->
    <aside class=" bg-gray-200 p-4 ml-12 rounded-md">
        <h1>Filtrar por Categorias</h1>
        <h2>Principales filtros</h2>
        <ul class="list-disc ml-6">   
            <li>Tiempo 
                <input type="range" min="0" max="100" value="0" class="range range-xs" step="25" />
            </li>
            <li>Dificultad</li>
            <li>Nº Personas
                <select class="select select-ghost select-xs w-full max-w-xs">
                    <option disabled selected></option>
                    <option>2 personas</option>
                    <option>3 personas</option>
                    <option>4 personas</option>
                  </select>
            </li>
        </ul>
    </aside>

    <!-- Contenido principal -->
    <main class=" dark:bg-dark light:bg-light p-4 grid grid-cols-3 gap-4 w-full ml-8 rounded-md">
        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />

        <app-cards-recetas />
        <app-cards-recetas />
        <app-cards-recetas />


    </main>
</div>