aside {
    width: 100%;
    max-width: 300px; 
}


/* @media (max-width: 600px) {
    aside {
        width: 200px; 
    }
} */


@media (max-width: 400px) {
    #filters{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 15px;
    }
}