@media (max-width: 768px) {
    .tocol{
        flex-direction: column;
    }
}

.active {
    @apply h-0.5 bg-primary-500 scale-x-100 transition-transform origin-left rounded-full
    duration-300 ease-out mt-1;
}

.img_responsive {
    width: 100px;
    height: 100px;
}

@media(min-width: 768px) {
    .img_responsive {
        width: 200px;
        height: 200px;
    }
}

@media(min-width: 1200px) {
    .img_responsive {
        width: 250px;
        height: 250px;
    }
}

